@import "../../style.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid #ccc; // Use a light border color
  position: sticky;
  top: 0;
  background-color: yellow; // Light gray background color
  color: #333; // Dark gray text color
  z-index: 999;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: #007bff; // Blue logo color
      transition: color 0.3s ease; // Smooth color transition on hover

      &:hover {
        color: #0056b3; // Darker blue color on hover
      }
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid transparent; // Initially no border
      border-radius: 5px;
      padding: 5px;
      transition: border-color 0.3s ease, color 0.3s ease,
        background-color 0.3s ease; // Smooth transition for border, color, and background-color

      input {
        border: none;
        width: 200px; // Initial width
        background-color: transparent;
        color: red; // Dark gray text color
        transition: width 0.3s ease; // Smooth width transition on smaller screens

        &:focus {
          outline: none;
        }
      }

      &:hover {
        border-color: #000; // Black border color on hover
        color: #fff; // White text color on hover
        background-color: #000; // Black background color on hover
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      display: none;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      @include tablet {
        display: none;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        transition: transform 0.3s ease; // Smooth scale transition on hover

        &:hover {
          transform: scale(1.1); // Scale up on hover
        }
      }

      span {
        transition: color 0.3s ease; // Smooth color transition on hover

        &:hover {
          color: #0056b3; // Darker blue color on hover
        }
      }
    }
  }
}
